.header {
  position: sticky;
  top: 0;
}

.headerMenu {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.userData {
  display: flex;
  align-items: center;
}

.userAvatar {
  margin: 0 2rem;
  max-width: 3rem;
  border-radius: 50px;
  background-color: #ffffff;
}

.userName {
  font-family: "Roboto";
  font-size: 2rem;
}
