.form {
  flex: 1;
}

.formWrraper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formTitle {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
  cursor: pointer;
}
