.form {
  flex: 1;
}

.wrraperForm {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formTitle {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  border: 3px solid #000000;
}

.title {
  font-family: "Roboto";
  font-size: 2rem;
  cursor: pointer;
}
