.todo {
  display: flex;
  flex: 1;
}

.todoWrraper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 20rem;
  width: 100%;
  border: 3px solid #000000;
  border-top: none;
}

.todoName {
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-family: "Roboto";
  font-size: 2rem;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-height: 41rem;
  height: 100%;
  overflow-y: auto;
}

.addBox {
  margin-top: auto;
  margin-bottom: 0;
  border-top: 3px solid #000000;
}

.tasks {
  flex: 1;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
