.todoWrraper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 20rem;
  border: 2px solid #000000;
}
.todoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todoName {
  text-align: center;
  font-size: 40px;
}

.todoList {
  max-height: 45rem;
  padding: 1rem;
  overflow: auto;
}

.todosList {
  cursor: grab;
}

.addBox {
  margin-top: auto;
  margin-bottom: 0;
}
