.navBar {
  width: 100%;
}

.menuNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageName {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.pageName > .exit {
  margin-left: 1rem;
}

.exit {
  width: 1rem;
}

.imgSettings {
  max-width: 2rem;
  border-radius: 50px;
  cursor: pointer;
}
