.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #808080;
}

.pageName {
  text-decoration: none;
  color: #000000;
}

.imgSettings {
  max-width: 3rem;
  border-radius: 50px;
  cursor: pointer;
}
