.todoItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  padding: 3px 0;
  background: #808080;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.todoText {
  width: 100%;
  cursor: grab;
}
